<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title class="login">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <form>
        <table [cellSpacing]="0" class="full-width">
            <tr>
                <td>
                    <mat-form-field  class="full-width">
                        <input [(ngModel)]="email" 
                        matInput 
                        placeholder="Email" 
                        required 
                        name="Email" 
                        type="email">
                    </mat-form-field>
                </td>

            </tr>
            <tr>
                <td>
                    <mat-form-field  class="full-width">
                        <input [(ngModel)]="password" 
                        matInput 
                        placeholder="Password" 
                        required 
                        name="password" 
                        type="password">
                    </mat-form-field>                 
                </td>

            </tr>
            <tr>
                <mat-error>
                    {{ error | async }}
                </mat-error>
            </tr>
        </table>
    </form>
    </mat-card-content>
    <mat-card-actions >
        <div style="margin-top:4em" class="full-width">
            <button class="full-width" mat-raised-button color="primary" (click)="login()" [tabIndex]="0">login</button>
            <!-- <br> -->
            <p style="margin:2em">New to Aero Club?<a [routerLink]="['/auth/register']" >register</a>
                here.
            </p> 
        </div>

    </mat-card-actions>
</mat-card>