<mat-card class="login-card">
    <mat-card-header>
        <mat-card-title class="login">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <form>
        <table>
            <tr>
                <td>
                    <mat-form-field>
                        <input [(ngModel)]="email" 
                        matInput 
                        placeholder="Email" 
                        required 
                        name="Email" 
                        type="email">
                    </mat-form-field>
                </td>

            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input [(ngModel)]="password" 
                        matInput 
                        placeholder="Password" 
                        required 
                        name="password" 
                        type="password">
                    </mat-form-field>                 
                </td>

            </tr>
            <tr>
                <mat-error>
                    {{ error }}
                </mat-error>
            </tr>
        </table>
    </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">login</button>
        <span>If you don't have an account ?<a [routerLink]="['/auth/register']" >register</a>
            here.
        </span>
    </mat-card-actions>
</mat-card>