
header{
    a {
        margin: 10px;
    }
    .active-link{
        background-color: royalblue;
    }
    .logo {
        background-image: url('../assets/logo.jpg');
        height: 42px;
        width: 54px;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .mat-icon{
        vertical-align: middle;
        margin: 0 5px;
    }
}